[submodule "external/auto-vk"]
	path = external/auto-vk
	url = git@github.com:cg-tuwien/Auto-Vk.git
[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/stb"]
	path = external/stb
	url = git@github.com:nothings/stb.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
